.row .row-cols-3 .row-cols-md-6 .g-4 .mt-4 {
  max-width: 100%;
}

.aik {
  background-color: #010101;
}

.fro {
  background-color: #c90210;
}

.lak {
  background-color: #f47734;
}

.ore {
  background-color: #ffffff;
}

.gen {
  background-color: #990012;
}

#home-team-logo {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

#away-team-logo {
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#last-game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto auto 1fr;
}

#home-team {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#ot {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

#away-team {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#home-goals {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

#away-goals {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

#away-team-logo {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

#games {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#sm-logo {
  width: 25px;
  height: 25px;
}
