.row .row-cols-3 .row-cols-md-6 .g-4 .mt-4 {
  max-width: 100%;
}

.aik {
  background-color: #010101;
}

.fro {
  background-color: #c90210;
}

.lak {
  background-color: #f47734;
}

.ore {
  background-color: #ffffff;
}

#home-team-logo {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}

#away-team-logo {
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
